/* 
COLORS:

Light green : #7ed56f
Medium green: #55c57a
Dark green: #28b485 

*/
/*
 GRID
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #fffefe;
  height: calc(100vh - 8rem);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'aside'
 'main-overview'
 'footer';
  height: 100vh;
  
}

body {
  font-family: "Raleway", "segoe UI";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.aside {
  display: inline-block;
  width: 32rem;
  height: 100%;
  background: #fffffff4 !important;
}

.aside__nav {
  width: 100%;
  background: #fffffff4 !important;
}

.aside__item {
  color: #333;
  padding: 1.7rem;
  border-left: 6px solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.aside__item.active {
  background-color: #bbfce3;
  border-left: 6px solid #00be4c;
}

.aside__icon {
  font-size: 1.8rem;
}

.aside__link {
  text-decoration: none;
  color: #333;
}

.icon {
  cursor: pointer;
  padding: 5px;
}

.icon--grey {
  color: #80808084;
}

.icon--notify.active {
  position: relative;
}

.icon--notify.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
  height: 7px;
  -webkit-transform: translate(-3px, 3px);
          transform: translate(-3px, 3px);
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.icon--notify:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: #00be4c;
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) /4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) /4) + 2 *6rem);
}

.navigation {
  width: 100%;
  float: right;
  height: 8rem;
  padding: 1rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(83, 83, 83, 0.151);
  border-bottom: 2px solid rgb(224, 224, 224);
}

.navigation__logo-box {
  padding: 3px;
  width: 20%;
  height: 5rem;
  border-right: 1px solid #80808084;
  background: #fffffff4;
}

.navigation__logo {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.navigation__search-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid transparent;
  margin-right: 5px;
  border-radius: 3px;
}

.navigation__search-box:focus-within {
  border: 1px solid #00be4c;
}

.navigation__search-icon {
  font-size: 1.9rem;
}

.navigation__search-input {
  font-family: "Raleway", "segoe UI";
  display: inline-block;
  border: none;
  padding: 5px;
  width: 95%;
  color: #80808084;
}

.navigation__search-input:focus {
  outline: none;
}

.navigation__search-input::-webkit-input-placeholder {
  color: #80808084;
}

.navigation__search-input:-ms-input-placeholder {
  color: #80808084;
}

.navigation__search-input::-ms-input-placeholder {
  color: #80808084;
}

.navigation__search-input::placeholder {
  color: #80808084;
}

.navigation__icon-box {
  margin-left: auto;
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
  width: 5%;
}

.navigation__icon-box i:not(:last-child) {
  margin-right: 8px;
}

.navigation__logout-link, .navigation__logout-link:link, .navigation__logout-link:visited {
  text-decoration: none;
  padding: 0 5rem;
  border-left: 1px solid #80808084;
  text-align: center;
}

.navigation__logout-link span {
  color: #80808084;
}

.navigation__logout-icon, .navigation__logout-icon:hover {
  color: #333;
}


.CMS-container{
    padding: 50px;
    width: 90%;
    margin-left: auto;
    font-size: 1rem; 
    height: 50rem;
}

 .grid-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2rem;
}

.grid-container .grid-box{
  border: 1px solid rgb(139, 139, 139);
}


.grid-container .content-container{
  
}

.grid-container .content-container .h1s{
    width: 94%;
    padding: 8px;
    border-bottom: 1.2px solid rgb(199, 199, 199);
    margin: 0 auto;
}


::-webkit-scrollbar{
  display: none;
}

.main-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33% ;
  grid-gap: 20px;
  margin: 20px;
  padding: 50px;
  margin-left: 310px;
  margin-top: -60px;
}

.grid-container .content-container .chart-container{
  margin-top: 30px;
  padding: 10px;
  display: flex;
}

.grid-container .content-container .chart-container .country-container{
  margin-left: auto ;
  width: 20rem;
}

.grid-container .content-container .chart-container .country-container .country{
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.grid-container .content-container .chart-container .country-container .country p{
  margin: 5px 5px auto;
  font-size: 1.2rem;
  color: rgb(27, 27, 27);
  font-weight: 800;
}

.grid-container .content-container .chart-container .country-container .country .visits{
    margin-left: auto;
    margin-top: 5px;
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
}


.grid-container .content-container .chart-container .country-container .country .circle{
  border-radius: 50%;
  padding: 6px;
  height: 10px;
  margin-top: 5px;
}

.grid-container .content-container .chart-container .country-container .country .border-1{
  border: 4px solid #63c6f3;
}

.grid-container .content-container .chart-container .country-container .country .border-2{
  border: 4px solid #ff7146;
}
.grid-container .content-container .chart-container .country-container .country .border-3{
  border: 4px solid #508dd3;
}
.grid-container .content-container .chart-container .country-container .country .border-4{
  border: 4px solid #fad873;
}

.container {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}  

.donut {
  --donut-size: 16rem;
  --donut-border-width: 3rem;
  --donut-spacing: 0;
  --donut-spacing-color: 255, 255, 255;
  --donut-spacing-deg: calc(1deg * var(--donut-spacing));
  border-radius: 50%;
  height: var(--donut-size);
  margin-right:  auto;
  position: relative;
  width: var(--donut-size);
}

.donut__label {
  left: 50%;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}

.donut__label__heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.donut__label__sub {
  color: #666666;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

.donut__slice {
  height: 100%;
  position: absolute;
  width: 100%;
}

.donut__slice::before,
.donut__slice::after {
  border: var(--donut-border-width) solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100%;
}

.donut__slice::before {
  border-width: calc(var(--donut-border-width) + 1px);
  box-shadow: 0 0 1px 0 rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
}

.donut__slice__first {
  --first-start: 0;
}

.donut__slice__first::before {
  border-top-color: rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
  -webkit-transform: rotate(calc(360deg * var(--first-start) + 45deg));
          transform: rotate(calc(360deg * var(--first-start) + 45deg));
}

.donut__slice__first::after {
  border-top-color:#63c6f3;
  border-right-color: rgba(255, 104, 56, calc(100 * (var(--first) - .25)));
  border-bottom-color: rgba(255, 104, 56, calc(100 * (var(--first) - .5)));
  border-left-color: rgba(255, 104, 56, calc(100 * (var(--first) - .75)));
  -webkit-transform: rotate(calc(360deg * var(--first-start) + 45deg + var(--donut-spacing-deg)));
          transform: rotate(calc(360deg * var(--first-start) + 45deg + var(--donut-spacing-deg)));
}

.donut__slice__second {
  --second-start: calc(var(--first));
  --second-check: max(calc(var(--second-start) - .5), 0);
  -webkit-clip-path: inset(0 calc(50% * (var(--second-check) / var(--second-check))) 0 0);
          clip-path: inset(0 calc(50% * (var(--second-check) / var(--second-check))) 0 0);
}

.donut__slice__second::before {
  border-top-color: rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
  -webkit-transform: rotate(calc(360deg * var(--second-start) + 45deg));
          transform: rotate(calc(360deg * var(--second-start) + 45deg));
}

.donut__slice__second::after {
  border-top-color: #ff7146;
  border-right-color: rgba(255, 200, 32, calc(100 * (var(--second) - .25)));
  border-bottom-color: rgba(255, 200, 32, calc(100 * (var(--second) - .5)));
  border-left-color: rgba(255, 200, 32, calc(100 * (var(--second) - .75)));
  -webkit-transform: rotate(calc(360deg * var(--second-start) + 45deg + var(--donut-spacing-deg)));
          transform: rotate(calc(360deg * var(--second-start) + 45deg + var(--donut-spacing-deg)));
}

.donut__slice__third {
  --third-start: calc(var(--first) + var(--second));
  --third-check: max(calc(var(--third-start) - .5), 0);
  -webkit-clip-path: inset(0 calc(50% * (var(--third-check) / var(--third-check))) 0 0);
          clip-path: inset(0 calc(50% * (var(--third-check) / var(--third-check))) 0 0);
}

.donut__slice__third::before {
  border-top-color: rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
  -webkit-transform: rotate(calc(360deg * var(--third-start) + 45deg));
          transform: rotate(calc(360deg * var(--third-start) + 45deg));
}

.donut__slice__third::after {
  border-top-color: #508dd3;
  border-right-color: rgba(151, 201, 92, calc(100 * (var(--third) - .25)));
  border-bottom-color: rgba(151, 201, 92, calc(100 * (var(--third) - .5)));
  border-left-color: rgba(151, 201, 92, calc(100 * (var(--third) - .75)));
  -webkit-transform: rotate(calc(360deg * var(--third-start) + 45deg + var(--donut-spacing-deg)));
          transform: rotate(calc(360deg * var(--third-start) + 45deg + var(--donut-spacing-deg)));
}

.donut__slice__fourth {
  --fourth-start: calc(var(--first) + var(--second) + var(--third));
  --fourth-check: max(calc(var(--fourth-start) - .5), 0);
  -webkit-clip-path: inset(0 calc(50% * (var(--fourth-check) / var(--fourth-check))) 0 0);
          clip-path: inset(0 calc(50% * (var(--fourth-check) / var(--fourth-check))) 0 0);
}

.donut__slice__fourth::before {
  border-top-color: rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)));
  -webkit-transform: rotate(calc(360deg * var(--fourth-start) + 45deg));
          transform: rotate(calc(360deg * var(--fourth-start) + 45deg));
}

.donut__slice__fourth::after {
  border-top-color: #fad873;
  border-right-color: rgba(28, 178, 246, calc(100 * (var(--fourth) - .25)));
  border-bottom-color: rgba(28, 178, 246, calc(100 * (var(--fourth) - .5)));
  border-left-color: rgba(28, 178, 246, calc(100 * (var(--fourth) - .75)));
  -webkit-transform: rotate(calc(360deg * var(--fourth-start) + 45deg + var(--donut-spacing-deg)));
          transform: rotate(calc(360deg * var(--fourth-start) + 45deg + var(--donut-spacing-deg)));
}

.grid-container .content-container .view-more-container{
  text-align: center;
  margin-top: 20px;
  padding: 40px;
}

.grid-container .content-container .view-more-container a button{
  padding: 5px;
  width: 180px;
  background: white;
  border: 1px solid rgb(97, 97, 97);
}

.grid-container .content-container .socials{
  display: flex;
  width: 95%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-top: 27px;
}

.grid-container .content-container .socials i {
    font-size: 23px;
    color: rgb(51, 129, 192);
    margin-right: 12px;
}

.grid-container .content-container .socials p{
  font-size: 1.3rem;
}

.grid-container .content-container .socials h4{
    margin-left: auto;
    font-size: 1.3rem;
}

.footer{
    background-color: rgb(9, 209, 76);
    text-align: center;
    margin-top: 30px;
}

.footer .footer__copyright{
    width: 200px;
    margin: 0 auto;
    padding: 30px;
    color: rgb(99, 99, 99);
}
/*# sourceMappingURL=main.css.map */

@media only screen and (max-width: 1268px) {
  

  .CMS-container{
    padding: 50px;
    width: 100%;
    margin-left: auto;
    font-size: 1rem; 
    height: 50rem;
}
}

@media only screen and (max-width: 1156px){
  .donut {
    --donut-size: 13rem;
    --donut-border-width: 2rem;
  }
}

@media only screen and (max-width: 1040px){
  .grid-container{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 1024px){
  
}

@media only screen and (max-width: 856px){
  .grid-container{
    display: grid;
    grid-template-columns: 100%  ;
    grid-gap: 2rem;
  }

  .donut {
    --donut-size: 18rem;
    --donut-border-width: 3rem;
  }

  main {
    height: 140rem;
  }
}

@media only screen and (max-width: 768px){
 
  
}

@media only screen and (max-width: 758px){
  html{
    display: none;
  }
}