.hamburger{
    display: none;
    &__button{
        display: none;
        position: fixed;
        z-index: 99;
        top: 3rem;
        right: 3rem;
        width: 5rem;
        height: 5rem;
        background-color: var(--color-primary);
        place-content: center;
        border-radius: 50%;
        
        @include respond(tab-port){
            display: grid;
        }
    }

    &__line{
        width: 2.5rem;
        height: 2px;
        background: var(--color-accent);
        display: block;

        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    @include respond(tab-port){
        &:checked ~ .navigation{
          display: block;
        }
    }


    
}